body {
	background-color: lightgrey;
}
.container {
	background-image: url('img/car.jpg');
	/*height: 750px;*/ 
}
img {margin: 0px;
	padding: 0px;
	max-width: 100%;
	max-height: 100px;
	text-align: center;
}

.row {
	border: 1px solid black;
}
.col-5, .col-2, .col-6 {
	border: 2px solid green;
	height: 2000px;
}

.duomenys {
	border: 1px solid brown;
	background-color: 
grey;
	margin-top: 8px;
	margin-left: 45px;
	margin-right: 45px;
	color: white;
	text-align: center;
	padding-bottom: 8px;
	
}

/*--Mygtukas ir rezultato div--*/
button {
	height: 40px;
	margin: 5px 3px 0px 0px;
	text-align: center;
}

#rezultatas {
	border: 1px solid green;
	height: 140px;
	max-width: 100%; 
	background-color: white;
	margin-top: 35px;
	text-align: center;
	padding-top: 20px;
}

/*--Teksto sriftas -*/
h4 {
	text-align: center;
}
p {
	font-size: 12pt;
	text-align: justify;
	background-color: yellow;
}

/*--Navigacija--*/
a {
	background-color: black;
	color: white;
	text-align: center;
	height: 35px;
	padding-top: 5px;
	border-left: 3px solid white;

}
a:hover {
	background-color: blue;
	text-decoration: none;
	color: white;
	border-bottom: 3px solid orange;
}

#copyR {
	text-align: center;
	color:white;
	font-size: 25pt;
}
.col-12 {
	background-color: black;
}

